<app-navbar></app-navbar>
<div class="dashboard-container">
  <app-menu [userType]="userType"></app-menu>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<div id="body">
  <h1>USUARIOS
  <button mat-raised-button class="newbuton" (click)="openDialog2()"><mat-icon>add_box</mat-icon>New</button></h1>
    <table id="tabla-usuarios">
        <thead>
          <tr>
            <th>Nombre de Usuario</th>
            <th>Tipo de Usuario</th>
            <th width="20%">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td>{{ usuario.nombreUsuario }}</td>
            <td>{{ usuario.tipoUsuario }}</td>
            <td>
                <button mat-raised-button class="button" (click)="openDialog(usuario)">Notificar</button>
            </td>
          </tr>
        </tbody>
      </table>      
</div>