ul {
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
  width: 18%;
  background-color: #3f51b5;
  position: fixed;
  height: 62%;
  overflow: auto;
  border-radius: 0px 25px 25px 0px;
}

li a {
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 8px 16px;
  margin: 30px;
  text-decoration: none;
}

mat-icon {
  margin-right: 8px;
}

.link-text {
  font-size: 20px;
  margin-top: 1px;
  padding-left: 10px;
}

li a.active {
  background-color: #ffffff;
  color: rgb(7, 0, 104);
}

li a:hover:not(.active) {
  background-color: #ffffff;
  color: rgb(34, 79, 202);
}
